
.icon-twitter-2 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 0;
}

.icon-twitter-21 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -86px 0;
}
.icon-twitter-1 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px 0;
}
.icon-twitter-1:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 0;
 }

.icon-instagram-21 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -258px 0;
}
.icon-instagram-21:hover{
 background-repeat: no-repeat;
 background-image: url(icons.svg);
 background-position: -602px 0;
 }
.icon-instagram-2 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -344px 0;
}
.icon-instagram-2:hover{
 background-repeat: no-repeat;
 background-image: url(icons.svg);
 background-position: -602px 0;
}
.icon-linkedin-11 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -430px 0;
}
.icon-linkedin-1 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -516px 0;
}
.icon-linkedin-1:hover{
 background-repeat: no-repeat;
 background-image: url(icons.svg);
 background-position: -430px 0;
}
.icon-instagram-211 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -602px 0;
}
.icon-instagram-212 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -688px 0;
}
.icon-linkedin-111 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -774px 0;
}
.icon-linkedin-12 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -860px 0;
}
.icon-person-black-18dp-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -946px 0;
}
.icon-phone-black-18dp-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1032px 0;
}
.icon-smartphone {
  width: 16px;
  height: 20px;
  margin-right:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1118px 0;
}
.icon-smartphone:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px -86px;
 }
.icon-facebook-11 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1204px 0;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 -86px;
  transition-property: background;
  transition-duration: 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-envelope:hover{
background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -430px -86px;
 }
.icon-smartphone1 {
  width: 10px;
  height: 16px;
  margin-right:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px -86px;
}

.icon-facebook-111 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -258px -86px;
}
.icon-email-black-18dp-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -344px -86px;
}
.icon-envelope1 {
  width: 16px;
  height: 12px;
  margin-right:10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -430px -86px;
}
.icon-close {
box-sizing: border-box;
width:11px;
height:11px;
margin-left: 30%;
margin-right: 20%;
margin-top: 30%;
margin-bottom: 0%;
padding-right:-16px;
color: var(--header-selection-color);
background: var(--primary-white-color);
border: 1px solid rgba(0, 0, 0, 0.1);
display: inline-block;
background-repeat: no-repeat;
background-image: url(icons.svg);
background-position: -602px -86px;
}
.icon-diagram-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -688px -86px;
}
.icon-email-black-18dp-11 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -774px -86px;
}
.icon-envelope2 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -860px -86px;
}
.icon-facebook-1 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -946px -86px;
}
.icon-facebook-1:hover{
background-repeat: no-repeat;
background-image: url(icons.svg);
background-position: -1204px 0;
}
.icon-send {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1032px -86px;
}
.icon-check {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1118px -86px;
}
.icon-clock-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1204px -86px;
}
.icon-diagram-11 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1290px -86px;
}
.icon-antenna-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 -172px;
}
.icon-astronaut-1 {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -86px -172px;
}
.icon-client1 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px -172px;
}
.icon-client1:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1204px -172px;
  
}
.icon-client2 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -344px -172px;
}
.icon-client2:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 -258px;
  
}
.icon-client3 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -516px -172px;
}
.icon-client3:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px -258px;
  
}
.icon-client4 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -688px -172px;
}
.icon-client4:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -344px -258px;
  
}
.icon-client5 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -860px -172px;
  
}
.icon-client5:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -516px -258px;
  
}
.icon-client6 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1032px -172px;
}
.icon-client6:hover{
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -688px -258px;
  
}
.icon-client11 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -1204px -172px;
}
.icon-client21 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: 0 -258px;
}
.icon-client31 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -172px -258px;
}
.icon-client41 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -344px -258px;
}
.icon-client51 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -516px -258px;
}
.icon-client61 {
  width: 124px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(icons.svg);
  background-position: -688px -258px;
}

